.scrolly-container {
  // max-width: 1200px;
  margin: auto;
  position: relative;
  background: black;
  color: white;
  @media @mobile {
    z-index: 9999;
  }
  .display-flex;
  .flex-wrap(wrap);
  .text-container {
    width: 40%;
    @media @mobile {
      z-index: 9999;
    }
  }
  .text-box {
    max-width: 600px;
    margin-right: 0;
    margin-left: auto;
    padding: 800px 20px 200px 20px;
    @media @mobile {
      width: 100%;
      padding: 20px;
      margin-top: 600px;
      margin-bottom: 200px;
      z-index: 9999;
      font-weight: 600;
      background: rgba(0,0,0,0.6);
    }
    &.image {
      font-size: 40px;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
    }
    &.graphic {
      line-height: 1.2;
      font-size: 22px;
      @media @laptop {
        font-size: 20px;
      }
    }
  }
}

.scroll-hed {
  font-size: 25px;
  max-width: 800px;
  margin: auto;
  padding: 40px 15px 20px 15px;
  line-height: 1.2;
  text-align: center;
  font-weight: 600;
  @media @mobile {
    font-size: 20px;
    text-align: left;
  }
}

.scrolly-image {
  position: absolute;
  top: 30px; bottom: 0;
  right: 20px;
  left: 40%;
  max-width: 100%;
  @media @mobile {
    left: 20px;
    z-index: 0;
  }
  #scrolly-image {
    max-width: 100%;
    @media @mobile {
      z-index: 0;
    }
  }
}

.sticky {
  position: fixed;
  top: 37px;
  bottom: 0;
  right: 20px;
  left: 40%;
  @media @mobile {
    left: 20px;
  }
  img {
    position: absolute;
    top: 0; bottom: 0;
    margin: auto;
  }
}
