<%= t.include("partials/_head.html") %>

<main class="container">

  <div class="title-container">
		<div>

			<div class="full-width-img">
					<img src="./assets/06.jpg">
					<p class="caption"><span class="year">July 1, 2015 </span> A homeless man drags his tent down the sidewalk on 13th Street between Bryant and Harrison as a Public Works Department crew begins cleaning an encampment. Crews regularly visit encampments to disinfect the ground and remove trash.<span class="byline"> Photo: Loren Elliott, The Chronicle</span></p>
			</div>

			<h1 class="title long">Enforcing laws, changing attitudes</h1>
			<div class="whatif-box">
				Would stronger enforcement of laws against street camping and petty crime reduce homelessness?
			</div>

			<p class="author">By Kurtis Alexander</p>
			<p class="date">June 29, 2016</p>

		</div>
	</div>

  <p>It may not seem like it, but there are fewer homeless people on the streets of San Francisco now than there were in 2004, when the city launched a series of long, intensive and only partially successful efforts to put every street person under a roof.</p>

  <p>Over the past 14 years, the city has housed 26,000 homeless people, many of them the chronically troubled type who had been on the streets more than a year. San Francisco has doubled the money it spends on homelessness — to more than $300 million — launched innovations including the nationally copied Navigation Center counseling-intensive shelter system, and created the city’s first unified Department of Homelessness and Supportive Housing.</p>

  <%= t.include("partials/_infobox.html") %>

  <p>In that time, the overall homeless population, according to one-night counts done every two years, has fallen from 8,640 in 2004 to 7,499 in 2017. So why is homelessness so often named by residents as the city’s No.1 problem and regarded as being worse than ever? Here are a few of the reasons:</p>

  <p>Weariness: The decades-old problem lends itself to a perception that it has no end in sight, and the exploding opioid epidemic, which has thrust more addicts onto the streets shooting up in public, only adds to the sense of futility.</p>

  <p>Tents: The proliferation of tents all over the city, in places where before there were mostly just blankets and tarp lean-tos, has been perhaps the biggest driver. The Occupy protest movement that flared in 2011 and died out in 2012 infused hundreds of tents onto the streets, and kindhearted residents followed by raising donations to buy even more.</p>

  <p>Gentrification: As the city’s tech-driven economy exploded, traditional homeless hangouts in places like central SoMa or around the Transbay Terminal were revitalized. Unable to blend in so easily, the homeless migrated elsewhere, causing fresh alarm to those unused to seeing camps.</p>

  <p>Panhandlers: As many as 50 percent of them, by some estimates, are formerly homeless people who now live inside but are so dysfunctional they revert to the one moneymaking technique they’ve always known. They look homeless, but they’re not.</p>


</main>

  <script src="app.js" async></script>
	<%= t.include("partials/_footer.html") %>

  </body>
</html>
