<%= t.include("partials/_head.html") %>

  


  



<main class="container">

	<div class="title-container">
		<div>
			
			<div class="full-width-img">
					<img src="./assets/06.jpg">
					<p class="caption"><span class="year">July 1, 2015 </span> A homeless man drags his tent down the sidewalk on 13th Street between Bryant and Harrison as a Public Works Department crew begins cleaning an encampment. Crews regularly visit encampments to disinfect the ground and remove trash.<span class="byline"> Photo: Loren Elliott, The Chronicle</span></p>
			</div>

			<h1 class="title long">Enforcing laws, changing attitudes</h1>
			<div class="whatif-box">
				Would stronger enforcement of laws against street camping and petty crime reduce homelessness?
			</div>

			<p class="author">By Kurtis Alexander</p>
			<p class="date">June 29, 2016</p>

		</div>
	</div>

	<p>The stretch of sidewalk outside Sweet Peas Preschool in the Mission District is nothing special. Just a few squares of concrete.</p>

<p>However, for the tiny legs that dart between parents’ cars and the campus entrance, the pavement is at times an obstacle course of used heroin needles and human feces — and an enduring sign of the city’s failure to get a handle on its most troublesome street behavior.</p>

<%= t.include("partials/_infobox.html") %>


<p>School director Samantha Dionne is sympathetic to the plight of homeless people. She gives food to an elderly man who sleeps out front. But shooting up and defecating in public when the children are near goes too far, said Dionne, who has started to call authorities, though with limited effect.</p>

<p>“The police came, they searched them and the police leave, and they’re still there. That’s the part I don’t understand,” Dionne said after one of her calls to the city’s 311 service center.</p>

<div class="inline-img camping-video">
    <div class='embed-container'><iframe src='https://player.vimeo.com/video/171660371' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
    <p class="caption"><span class="byline">Video: Tim Hussin, The Chronicle</span></p>
</div>

<p>With San Francisco’s homeless crisis showing no sign of letting up, some residents and businesses are demanding the city do more to control the fallout: stop open-air drug use, end threatening street behavior, get rid of mushrooming tent camps.</p>

<p>This does not mean, however, that there’s no role for policing.</p>

<p>In many ways, this is what San Francisco is already doing. Police officers routinely work with health and human-service agencies, as do the courts. But there are ways to get better results, the experts say, and almost all involve support from outside criminal justice.</p>

<div class="inline-img">
    <img src="./assets/06.jpg">
    <p class="caption"><span class="year">June 9, 2016</span>  Jamil Ross, right, sets up a tent in the Inner Mission after he took it down earlier when police asked him and his friends to move. Ross, who is from the Bayview neighborhood, started sleeping on the street after a residential hotel became too expensive.<span class="byline"> Photo: Tim Hussin, The Chronicle</span></p>
</div>

<p>Among the ideas:</p>
<ul>
<li><p>Increase the number of outreach workers and psychiatric experts who patrol with police, offering homeless people help or referrals to care.</p></li>

<li><p>Expand the city’s shelters and make more accommodations to homeless people, such as allowing pets and longer stays, to give police something to sell when they’re trying to talk a person off the streets.</p></li>

<li><p>Build a system for enforcing nuisance-behavior citations, which many homeless people are now free to ignore because the courts seldom follow up. Enforcing them could be a way to leverage people into getting help.</p></li>

<li><p>Allow officers who have cause to arrest someone on the streets to divert them to immediate addiction treatment.</p></li>
</ul>
<div class="text-hed">‘A revolving door’</div>

<p>On a recent morning, two blocks from Sweet Peas Preschool, Officer Gary Kunaboot made the rounds on his homeless beat, asking about a half dozen people near 18th and Florida streets to take down their tents and leave.</p>

<p>It’s the same thing Kunaboot did the day before. And he wasn’t the only one. Twenty-six San Francisco cops assigned to work with homeless people regularly respond to complaints, about 2 percent of the 1,360 sworn officers working in the city. Some team with Public Works crews to clear camps and wash sidewalks in a vast predawn exercise that repeats daily.</p>

<div class="inline-img">
    <div class='embed-container'><iframe src='https://player.vimeo.com/video/171660115' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
    <p class="caption"><span class="byline">Video: Tim Hussin, The Chronicle</span></p>
</div>

<p>While Kunaboot has at times pressed for charges against homeless people, he said he didn’t cite those near the preschool because they were cooperative. Taking action takes time, he noted, especially making an arrest and jailing someone, which can keep him from responding to complaints on the next block.</p>

<p>“Is the solution really to book?” he said. “They’ll just be back right here and do it again.”</p>

<div class="text-hed">Tickets brushed aside</div>

<p>Serrao has been cited 20 to 30 times for obstructing sidewalks, by his count, and spent a few days in jail.</p>

<p>“I can’t pay the fines. I don’t have a job,” Serrao said while stuffing everything he owns into a single backpack. “I guess they (cite you) to scare you away, so you won’t come back. But just because we got a citation doesn’t mean we’ll run away or disappear.”</p>

<div class="inline-img">
    <img src="../assets/06.jpg">
    <p class="caption"><span class="year">May 26, 2016 </span> Martell Serrao packs up his belongings after police asked him to move his encampment on Florida and 16th streets.<span class="byline"> Photo: Tim Hussin, The Chronicle</span></p>
</div>

<p>Like Serrao, however, most don’t do anything — and rarely is there consequence.</p>

<p>“If I’m a cop and my actions over multiple citations and arrests result in no judicial enforcement, naturally as a human being, you say, ‘Why bother?’” Kopp said.</p>

<div class="text-hed">A humbling history</div>

<p>The poster program for cracking down in San Francisco remains Matrix, a policy of sweeps rolled out from 1993 to 1995 by then-Mayor Frank Jordan, a onetime police chief.</p>

<p>Jordan defends the program to this day, saying it enabled the city to clear camps and dangerous elements from downtown areas like Union Square. Critics, however, say it only pushed people into adjacent neighborhoods, and most estimates suggest the city’s homeless count didn’t change much in those years.</p>

<div class="inline-img">
    <img src="../assets/06.jpg">
    <p class="caption"><span class="year">June 9, 2016 </span> Tony Cook, who has lived on the streets of San Francisco for almost 39 years, pokes his head outside his camp on Harrison Street. He said he's received about 90 tickets for illegal camping over the past 10 years but hasn't paid any of the fines.<span class="byline"> Photo: Tim Hussin, The Chronicle</span></p>
</div>


<p>For many along Florida Street in the Mission, the scales have tipped too far in one direction.</p>

</main>





  <script src="app.js" async></script>  
	<%= t.include("partials/_footer.html") %>

  </body>
</html>